apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - helmrepository.yaml
  - grafana-helmrepository.yaml
  - configmap.yaml
  - helmrelease.yaml
  - grafana-virtualservice.yaml
