apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "80.10.0"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      interval: 12h
  targetNamespace: monitoring
  install:
    createNamespace: true
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    grafana:
      additionalDatasources:
        - name: Loki
          type: loki
          uid: loki
          url: http://loki-system-loki-stack.loki-system.svc.cluster.local:3100
          access: proxy
          isDefault: false
        - name: Tempo
          type: tempo
          uid: tempo
          url: http://tempo-system-tempo.tempo-system.svc.cluster.local:3200
          access: proxy
          isDefault: false
          jsonData:
            nodeGraph:
              enabled: true
            serviceMap:
              datasourceUid: tempo
  valuesFrom:
    - kind: ConfigMap
      name: kube-prometheus-stack-values
      valuesKey: values.yaml
