apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - helmrepository.yaml
  - grafana-helmrepository.yaml
  - configmap.yaml
  - helmrelease.yaml
  - grafana-virtualservice.yaml
  - flux-dashboard-14937.yaml

patches:
  - patch: |
      - op: add
        path: /spec/storage
        value:
          volumeClaimTemplate:
            spec:
              storageClassName: gp3
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 50Gi
    target:
      group: monitoring.coreos.com
      version: v1
      kind: Prometheus
      name: monitoring-kube-prometheus-prometheus
      namespace: monitoring
